body {
    color: black;
    font-family: 'Tajawal',
        sans-serif;
    background-image: linear-gradient(to bottom right, #f8f5fa, #f3e5f9);
}

/*  NAV BAR */

nav {
    border-radius: 0;
}

nav,
.nav-wrapper {
    color: black;
    background-color: white;
}


nav ul a {
    color: black;
}

/* HOME PAGE */
.main-header {
    margin: 20% auto 15% auto;

}


#typing {
    overflow: hidden;
    white-space: nowrap;
    margin-left: 0;
    letter-spacing: .15em;
    animation: typing 3.5s steps(40, start) 1s 1 normal both,
        blink-caret .75s step-end infinite;
}

@keyframes typing {
    from {
        width: 0
    }

    to {
        width: 100%
    }
}

#typing-2 {
    overflow: hidden;
    white-space: nowrap;
    margin-left: 0;
    letter-spacing: .10em;
    animation: typing 3.5s steps(40, start) 1s 1 normal both,
        blink-caret .75s step-end infinite;
    animation-delay: 2.5s;
}

@keyframes typing {
    from {
        width: 0
    }

    to {
        width: 100%
    }
}


.quick-bio {
    display: flex;
    font-size: 2em;
    justify-content: end;
    letter-spacing: .05em;
}

.section-title {
    color: rgba(0, 0, 0, 0.728);
    font-size: 2em;
    text-align: center;
    font-weight: bolder;
    padding-top: 100px;
}

#about {
    padding-bottom: 5%;
}

.self-image {
    display: flex;
    justify-content: center;
    border-radius: 50%;
}

.project {
    padding-bottom: 50px;
}


.about-text {
    font-size: 1.5em;
    margin: auto;
    text-align: center;
    padding-top: 2em;
}

.skill-title {
    text-align: center;
    font-size: 1.2em;
    font-weight: bold;
}

.circle {
    height: 6em;
    width: 6em;
    margin: 30px auto 65px auto;
    display: flex;
    align-items: center;
}

.project-image {
    width: 100%;
    height: 100%;
    border: solid 2px black;
    overflow: hidden;
    box-shadow: 0px 10px 24px 0px rgba(176, 176, 176, 1);
}

.project-description {
    font-size: 1.5em;
    text-align: start;
}




/* RESUME */
.resume-title,
.contact-info {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 1em;
}

.section-header {
    display: flex;
    flex-direction: column;
    font-size: 1.5em;
    margin: 2em;
    font-weight: bold;
}

.section-description {
    font-size: 1em;
    font-weight: normal;
    margin: 1em;
}

.connect {
    text-align: center;
}

#skills {
    padding-bottom: 5%
}

#connect {
    padding-top: 9%;
    padding-bottom: 18%
}

#connect-image {
    width: 6em;
    height: 6em;
}


/* SKILLS */

@media only screen and (min-width: 1000px) {
    .section-header {
        margin: 1em 2em 0 10em;
    }

    .skills {
        margin: 1em 10em
    }

    .project-description {
        font-size: 1.5em;
        text-align: end;
    }

    /* .project-image {
        width: 50em;
        height: 30em;
    } */
}