body {
    color: black;
    font-family: 'Oswald', sans-serif;
    background-color: #FAECEB
}

h1,
.contact-info {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.section-header {
    display: flex;
    flex-direction: column;
    font-size: 1.2em;
    margin: 1em;
    font-weight: bold;

}

.section-description {
    font-weight: normal;
    margin: 1em;
}

@media only screen and (min-width: 600px) {
    .section-header {
        margin: 1em 2em 0 10em;
    }

    .skills {
        margin: 1em 10em
    }

}